.section {
  max-width: 600px;
  width: 100%;
  /* margin: 0 auto; */
  /* height: 1080px;
  overflow: scroll; */
  
}

.items {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  justify-content: space-between;
  max-width: 600px;
}

.scrollDiv {
  overflow-y: scroll;    
  max-height: 648px;
}

